<footer class="footer mt-6">
    <div class="content has-text-centered">
        <p>
            i'm a creeper <br />
            minecraft's grim reaper
        </p>
        <p>
            Made by <a href="https://github.com/Char7otte/node-comment-app">Char7otte</a>
            <a href="https://bulma.io" class="is-block mt-2">
                <img src="https://bulma.io/assets/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24" />
            </a>
        </p>
    </div>
</footer>
