<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <script src="/js/navbar.js"></script>
    <div class="navbar-brand">
        <a class="navbar-item" href="https://github.com/Char7otte/node-comment-app">
            <figure class="image"><img src="/img/navbar-brand.jpg" alt="" /></figure>
            <p>Github</p>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/comments" class="navbar-item"> Home </a>
        </div>
        <div class="navbar-end"></div>
    </div>
</nav>
